<!--
    This section renders a list of media 
-->
<div id="main-section">
    {{if .Files}} {{range .Files}}
    <a hx-get="/open/{{.Id}}" hx-target="#main-section" hx-push-url="true">
        {{.Label}}<br />
    </a>
    {{end}} {{else}}
    <p>Couldn't find anything for you to watch</p>
    {{end}}

    <style>
        a {
            text-decoration: underline;
            cursor: pointer;
        }

        #main-section {
            width: "100%";
            height: "100%";
        }
    </style>
</div>
