<div class="container" data-media-id="{{.Id}}">
    <h2>{{.Label}}</h2>
    <p>Video player</p>
    <div class="video-container">
        <video id="video-player"></video>
    </div>
    <script src="/static/stream.mjs" type="module"></script>
    <style>
        .container {
            width: 100%;
            height: 100%;
            background-color: bisque;
        }
        #video-container {
            width: 100%;
            height: "720px";
        }
        video {
            height: "100%";
            width: "100%";
            background-color: black;
        }
    </style>
</div>
